# Files to be ignored by the Docker context
# Any files mentioned here will not trigger Docker to force an image reuild
# if they change
.circleci
.vscode
/intersection_model/Dockerfile
/docs
/examples
/ext
/scripts
/kafka_clients/build
/scheduling_service/build
/message_services/build
/streets_utils/streets_service_base/build
/streets_utils/streets_vehicle_list/build
/streets_utils/streets_vehicle_scheduler/build
/streets_utils/streets_api/intersection_client_api/build
/carma_lanelet2
/intersection_model/build
/intersection_model/src/server/external/lib/pkgconfig/qhttpengine.pc
*.md
*.git*
