# Cache objects
packer_cache/
# build directories
**/build/
**/logs/
# Crash log
crash.log
.env
# For built boxes
*.box
gmon.out
.vscode/
intersection_model/*.osm
message_services/*.osm
intersection_model/src/server/external/lib/pkgconfig/qhttpengine.pc
mysql/
secrets/
MAP/
logs/
